.circles {
    
}
.circleOne {
    position: absolute;
    left: -115px;
    top: 358px;
    background-image: url("./CircleSVG/Circle1.svg");
}
.circleTwo {
    position: absolute;
    left: -115px;
    top: 358px;
}