*{
    font-family: 'Sora';
} 
.contentWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 32px; /*Creates a gap between the title and the content*/
}
.paragraphTitle {
    font-size: 2.25rem;
    text-shadow: 0px 7px 15px rgba(255, 255, 255, 0.23);
    align-self: flex-start;
    margin: 0;
}
.paragraphContent {
    font-size: 1.25rem;
    max-width: 700px;
    margin: 0 0 240px 0;
}
.paragraphContent:last-child{
    margin: 0 0 155px 0;
}
/* must fix this issue because it will affect other p as well 
create a dynamic stuff I guess?*/
p{ 
    margin: 0 0 24px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}